.App {
  text-align: center;
  color: black;
  font-family: 'Indie Flower', cursive;
}
body {
 background-color: white;
 box-sizing: border-box;
 background-image: url("https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1105.jpg");
 background-repeat: no-repeat;
 background-size:cover ;
}
.title-app{
  color:  #cc6699  ;
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: 'Indie Flower', cursive;
  font-size :3em
}

.container-item{
  align-items: center;
  font-family: 'Indie Flower', cursive;
  margin: 4px auto;
  color:  #47476b  ;
  background: linear-gradient(
    90deg,
    #e6ccff    0%,
    #d9b3ff    100%
  );

}
.container-item:nth-child(5n + 1) {
  background: linear-gradient(
    90deg,
    #ccffcc    0%,
    #b3ffb3    100%
  );
}
.container-item:nth-child(5n + 2) {
  background: linear-gradient(
    90deg,
    #cceeff 0%,
    #b3e6ff 100%
  );
}

.container-item:nth-child(5n + 3) {
  background: linear-gradient(
    90deg,
    #ffcccc    0%,
    #ffb3b3 100%
  );
}
.container-item:nth-child(5n + 4) {
  background: linear-gradient(
    90deg,
    #ffffcc    0%,
    #ffffb3  100%
  );
}

.select{
  width: 120px;
}

.done{
  text-decoration: line-through;
}

.btn-war, .btn-outline-warning{
  color: black !important;
}

